.whole{
    background-color: pink;
}

h1{
    text-align: center;
    color: white;
    font-weight: 600;
}

.bookName{
    color: green;
    text-align: center;
}

.authorName{
    color: orange;
}

.blog{
    background-color: black;
    border: 5px solid white;
    border-radius: 15px;
    margin: 20px 10px;
    padding: 10px;
    text-align: justify;

}

.blog p{
    color: whitesmoke;
    font-size: large;
    line-height: 30px;
}